@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff4f2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  /* display: none; */
  /* background-color: whitesmoke; */
  background-color: #000000dd;
  width: 0.4vw;
}

::-webkit-scrollbar-thumb {
  width: 0.4vw;
  /* background: #aa0000; */
  background-color: #aa0000;
}
